.filters {
  display: flex;
  flex-direction: column;
  width: 100%;

  .group-filter {
    display: flex;
    margin-top: 20px;

    .species-filter {
      margin-left: 30px;
    }
  }
  .filter-icon {
    display: flex;

    img {
      width: max-content;
    }

    p {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      margin-left: 5px;
    }
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    input {
      margin-right: 10px;
    }
  }
}
