.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 30px;
  background-color: #c1dedc;

  cursor: pointer;

  &:hover {
    background-color: #d9f8f6;
  }

  h4 {
    letter-spacing: -0.4px;
    margin: 0;
  }

  &:nth-child(2n) {
    background-color: #f0edea;

    &:hover {
      background-color: #fcf7f3;
    }
  }

  &:nth-child(3n) {
    background-color: #e6def0;

    &:hover {
      background-color: #f5eeff;
    }
  }
}

a {
  color: #000000;
  text-decoration: none;
}
